
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'PT sans',sans-serif;
  min-height: 100vh;
 /*  background-image: url(../img/fondo.jpg);  */
 margin: 0;
  padding: 0;
  background: linear-gradient(-45deg,black,rgb(98, 7, 7));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inicio {
  width: 100%;
  max-width:1000px;
  height:30vh;
  background-size: cover;
  background-position: center;
}
.nav{

  position: fixed;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.5s ease;
  z-index:2;
}
.nav.active{
  background: #810c0c;
  padding: 15px;
}
.nav.active .logo,
.nav.active a{
  color: #000000;
}
.logo {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  }
.logo li{
  list-style: none;
  font-size: 25px;
  text-decoration: none;
  
}
.logo li a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}
.menu {
  display: flex;
 
  }
.menu li{
  list-style: none;
  margin: 10px;
}
.menu li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}  
.menu li a:hover{
  padding: 10px 5%;
  background: #fff;
  color: #000;
  border-radius: 5px;
}


#contenido{
 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
 
}

.fondo-login{
  width: 100%;
  height:15vh;
  background-color: rgb(245, 13, 13);
  background-size: cover;
  background-position: center;
}
.login{
  top: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.btn-danger{
  margin: 15px;
}
.carrito_{
  width: 100%;
  height:15vh;
  background-color: rgb(245, 13, 13);
  background-size: cover;
  background-position: center;
}
.contenido{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin: 1rem;
}
.producto{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin:auto;
  text-align: center;
  font-family: arial;
}
.Agregar{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.producto > img{
  width: 90%;
  height: 250px;
}
.precio{
  color: grey;
  font-size: 22px;
}
#formulario{
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#formulario label{
  color:red;
}

.main-admin{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.close-icon{
  font-size: 1.5rem;
  color:blue;
  position:absolute;
  right: 5px;
  background-color: none;
  padding-bottom: 350px;
}
.close-icon:hover{
  color:red;
  cursor:pointer;
}
.contenido{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
@media (max-width: 1230px) {
  .contenido {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 964px) {
  .contenido {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-cart h4{
    color: red;
}
.main-cart h1{
  color: red;
}
.contador p{
  color: white;
}
/*  ANIMACION DE LAS CARTS*/

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 75vh;
  --card-width:
  calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

/*  */
.cart-title{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin:1rem;
}
.cart-item{
  padding: 10px;
  background-color: white;
  border: none;
  border-radius:5px ;
  margin: 1rem;

}
#cart-container {
  text-align: center;
}
#confirma-compra {
  display: none;
  margin-bottom: 1rem;
}

.elim-prod {
  position: absolute;
  margin-top: -70px;
  margin-left: 125px;
}
/* CAMBIO DE MONEDA */

.container{
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #cf0f0f;
  border-radius: 5px;
  align-items: center;
 /*  position:absolute; */
  top: 120%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 150px;
  height: 450px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
 
}
/* ANIMACION PARA BORDES */
.container:before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.container:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}

.container span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.container span:nth-child(1)
{
  transform:rotate(0deg);
}

.container span:nth-child(2)
{
  transform:rotate(90deg);
}

.container span:nth-child(3)
{
  transform:rotate(180deg);
}

.container span:nth-child(4)
{
  transform:rotate(270deg);
}

.container span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 
.btn{
  color: white;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.moneda{
  padding:40px 0;
  display: flex;
  justify-content: center;

}

.moneda select{
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.moneda input {
  border: 0;
  font-size: 10px;
  text-align: right;
}

.taza-cambio-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cambio{
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
  
}

#Orden{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

}
#Orden .Boton-crear{
 order:1;
 width: 50%; 
  text-align: center;
}
#Orden .contenido{
  order:2;
}
#Orden .container{
  order:3;
  
}
/* .scrol{
  height: 700px;
 
 
} */

