
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'PT sans',sans-serif;
}

.inicio {
  width: 100%;
  height:50vh;
  background-color:  #000000;
  background-size: cover;
  background-position: center;
}
.nav{
  position: fixed;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.5s ease;
}
.nav.active{
  background: #810c0c;
  padding: 15px;
}
.nav.active .logo,
.nav.active a{
  color: #000000;
}
.logo {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  }
.logo li{
  list-style: none;
  font-size: 25px;
  text-decoration: none;
  
}
.logo li a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}
.menu {
  display: flex;
 
  }
.menu li{
  list-style: none;
  margin: 10px;
}
.menu li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}  
.menu li a:hover{
  padding: 10px 5%;
  background: #fff;
  color: #000;
  border-radius: 5px;
}

.scrol{
  height: 500px;
 
}
#contenido{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.fondo-login{
  width: 100%;
  height:15vh;
  background-color: rgb(245, 13, 13);
  background-size: cover;
  background-position: center;
}
.login{
  top: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-danger{
  margin: 15px;
}
.carrito_{
  width: 100%;
  height:15vh;
  background-color: rgb(245, 13, 13);
  background-size: cover;
  background-position: center;
}
.contenido{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:1rem;
  align-items: center;
  margin:1rem;
}
.producto{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin:auto;
  text-align: center;
  font-family: arial;
}
.Agregar{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.producto > img{
  width: 90%;
  height: 250px;
}
.precio{
  color: grey;
  font-size: 22px;
}
#formulario{
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-admin{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.close-icon{
  font-size: 1.5rem;
  color:white;
  position:absolute;
  right: 5px;
  background-color: none;
}
.close-icon:hover{
  color:red;
  cursor:pointer;
}

@media (max-width: 1230px) {
  .contenido {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 964px) {
  .contenido {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-title{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin:1rem;
}
.cart-item{
  padding: 10px;
  background-color: white;
  border: none;
  border-radius:5px ;
  margin: 1rem;

}
#cart-container {
  text-align: center;
}
#confirma-compra {
  display: none;
  margin-bottom: 1rem;
}

.elim-prod {
  position: absolute;
  margin-top: -70px;
  margin-left: 125px;
}